body {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 206, 191, 0.7)
    ),
    url("https://images.unsplash.com/photo-1678434290646-2530ec40e57e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=626&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

main {
  margin: 3.125rem auto 0 auto;
}

header {
  padding: 0 0.6rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 35px;
}
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-shadow: 3px 2px #1e8eaa;
  text-align: center;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-size: 24px;
}

#title,
#description {
  text-shadow: 3px 2px #1e8eaa;
  text-align: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  margin-top: 3rem;
  background: rgba(27, 27, 50, 0.8);
  width: 50rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: large;
}

input::placeholder {
  font-weight: 600;
  opacity: 70%;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  padding-left: 1rem;
}

input,
select,
textarea {
  height: 2.5rem;
  margin: 0.5rem 0 1.5rem 0;
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 16px;
  color: #3b3b3b;
  padding-left: 1rem;
}

option {
  font-weight: 600;
}

.label-radio,
.label-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-top: 1.25rem;
  margin-right: 0.6rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.label-mostLike {
  margin-top: 2rem;
}

.label-textarea {
  margin-top: 2rem;
}

.input-textarea {
  min-height: 120px;
  width: auto;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  background-color: #1e8eaa;
  color: white;
  height: 3rem;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0.5rem;
}
